ion-button {
  --background: #3C6FF6;
  width: 100%;
  --border-radius: 10px;
  color: white;
  letter-spacing: 0;
  font-weight: bold;
  text-transform: capitalize;
  font-family: Montserrat;
  font-size: 14px;
  --padding-top: 16px;
  --padding-bottom: 16px;
  --box-shadow: none !important;
}
