<div class="container">
  <b>Buscar serviços</b>
  <ion-list>
    <ion-item>
      <ion-input
        label="Tipo de serviço"
        labelPlacement="stacked"
        type="password"
        placeholder="Aline Marinho"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Data"
        labelPlacement="stacked"
        type="password"
        placeholder="Aline Marinho"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Estado"
        labelPlacement="stacked"
        type="password"
        placeholder="Aline Marinho"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Cidade"
        labelPlacement="stacked"
        type="password"
        placeholder="Aline Marinho"
      >
      </ion-input>
    </ion-item>
  </ion-list>
  <div class="container-button">
    <div class="clean">
      <ion-button fill="outline">Limpar</ion-button>
    </div>
    <div class="filter">
      <ion-button fill="solid">Filtrar</ion-button>
    </div>
  </div>
</div>
