<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>Alterar senha</ion-title>
  <ion-list>
    <ion-item>
      <ion-input
        label="Senha atual"
        labelPlacement="stacked"
        type="password"
        [(ngModel)]="current_password"
        placeholder="Senha atual"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Nova senha"
        labelPlacement="stacked"
        type="password"
        [(ngModel)]="password"
        placeholder="Nova senha"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Confirme nova senha"
        labelPlacement="stacked"
        type="password"
        [(ngModel)]="password_confirmation"
        placeholder="Confirmar nova senha"
      >
      </ion-input>
    </ion-item>
    <app-button (click)="changePassword()" [action]="action"></app-button>
  </ion-list>
</ion-content>
