<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>Termos de uso</ion-title>
  <div class="terms">
    Desculpe, mas não tenho acesso aos Termos de Uso atuais, pois meu
    conhecimento foi interrompido em setembro de 2021 e não tenho informações
    atualizadas sobre os Termos de Uso de plataformas ou serviços específicos.
    Recomendo que você verifique diretamente os Termos de Uso na plataforma ou
    serviço em questão para obter as informações mais recentes.
    <br /><br />
    Desculpe, mas não tenho acesso aos Termos de Uso atuais, pois meu
    conhecimento foi interrompido em setembro de 2021 e não tenho informações
    atualizadas sobre os Termos de Uso de plataformas ou serviços específicos.
    Recomendo que você verifique diretamente os Termos de Uso na plataforma ou
    serviço em questão para obter as informações mais recentes.
    <br /><br />
    Desculpe, mas não tenho acesso aos Termos de Uso atuais, pois meu
    conhecimento foi interrompido em setembro de 2021 e não tenho informações
    atualizadas sobre os Termos de Uso de plataformas ou serviços específicos.
    <br /><br />
    Recomendo que você verifique diretamente os Termos de Uso na plataforma ou
    serviço em questão para obter as informações mais recentes.
  </div>
</ion-content>
