<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title
    >Informe seu e-mail<br />
    enviaremos um token para <br />validação</ion-title
  >
  <ion-list>
    <ion-item>
      <ion-input
        label="Informe seu e-mail"
        labelPlacement="stacked"
        type="text"
        [(ngModel)]="email"
        placeholder="Informe seu e-mail"
      >
      </ion-input>
    </ion-item>

    <div class="action">
      <app-button
        (click)="password(email)"
        action="Recuperar senha"
      ></app-button>
    </div>
  </ion-list>
</ion-content>
