<div class="container-list">
  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
    <ion-card-header>
      <ion-card-title
        >Saiba o processo de encerramento do seu carro</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      O enceramento automotivo funciona como uma proteção à pintura e ao verniz.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
    <ion-card-header>
      <ion-card-title
        >Saiba o processo de encerramento do seu carro</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      O enceramento automotivo funciona como uma proteção à pintura e ao verniz.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
    <ion-card-header>
      <ion-card-title
        >Saiba o processo de encerramento do seu carro</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      O enceramento automotivo funciona como uma proteção à pintura e ao verniz.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
    <ion-card-header>
      <ion-card-title
        >Saiba o processo de encerramento do seu carro</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      O enceramento automotivo funciona como uma proteção à pintura e ao verniz.
    </ion-card-content>
  </ion-card>
</div>
