<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>Avalie o serviço do Cleber</ion-title>

  <div class="toAssess">
    O serviço foi realizado de acordo com sua expectativa ?
  </div>
  <div class="yes">Sim</div>
  <div class="no">Não</div>
  <div class="toAssess">De uma nota de 0 a 10.</div>
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
    <li>10</li>
  </ul>
  <div class="toAssess">Comentário</div>
  <div class="textarea">
    <ion-textarea
      labelPlacement="floating"
      [counter]="true"
      maxlength="120"
    ></ion-textarea>
  </div>
  <app-button [action]="action"></app-button>
</ion-content>
