<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="description">Cadastrado desde: <b>00/00/0000</b></div>

  <ion-title>Avaliações do profissional <br />Cleber Almeida</ion-title>

  <div class="wase">
    Nota 9.5 - 652 lavagens
    <div class="fr">65 avaliações</div>
  </div>

  <div class="card">
    <b>Jorge fernandes</b> <span class="material-symbols-outlined"> star </span
    ><span class="material-symbols-outlined"> star </span
    ><span class="material-symbols-outlined"> star </span
    ><span class="material-symbols-outlined"> star </span
    ><span class="material-symbols-outlined"> star </span>
    <div class="text">
      Profissional super atencioso, me atendeu corretamente, meu carro ficou
      impecavel com a lavagem que ele aplicou
    </div>
    <div class="date">00/00/0000 - 9h</div>
  </div>
</ion-content>
