<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>Detalhe do pedido</ion-title>
  <div class="card">
    <b>BMW 320i Sport</b>
    <ul>
      <li>Profissional: <b>Descrição</b></li>
      <div class="space"></div>
      <li>Modelo:<b>Descrição</b></li>
      <li>Tipo de lavagem:<b>Descrição</b></li>
      <li>Adicionais:<b>Descrição</b></li>
      <div class="space"></div>
      <li>Endereço:<b>Descrição</b></li>
      <li>Data:<b>Descrição</b></li>
      <li>Hora:<b>Descrição</b></li>
      <div class="space"></div>
      <li>Valor: <b>Descrição</b></li>
      <div class="space"></div>
      <li>Status:<b>Descrição</b></li>
    </ul>
  </div>
  <div class="card">
    <li>
      Confirme o número<br />
      de segurança<b class="number">9090</b>
    </li>
  </div>
  <div class="toAssess">
    <app-button [action]="action"></app-button>
  </div>
</ion-content>
